@font-face {
    font-family: 'PlusJakartaSansBold';
    src:  url('fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
          url('fonts/PlusJakartaSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PlusJakartaSansRegular';
    src:  url('fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
          url('fonts/PlusJakartaSans-Regular.woff') format('woff');
}

body {
    font-family: 'PlusJakartaSansRegular', Helvetica, Arial, sans-serif;
    overflow-y: hidden;
    background-image: url(../images/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container .row {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PlusJakartaSansBold', Helvetica, Arial, sans-serif;
}

#window{
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(230, 230, 230);
}

@media screen and (max-width:767px) {
    #window {
        margin-top: 40px;
    }
}

.modal-content{
    border-radius: 20px;
}

#logout_button{
    margin-left: 10px;
    margin-right: 0px;
}

.swap_text{
    margin-bottom: 20px;
}

.btn{
    border-radius: 100px;
}

.swapbox_select{
    width: 60%;
    float: left;
}

.swapbox{
    overflow: auto;
    margin: 0 10px 10px 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 500px;
    border: 1px rgb(51, 51, 51);
}

@media screen and (max-width: 767px) {
    #window {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px
    }
}

.token_select{
    padding:5px 0;
    border-radius: 500px;
    max-width: 40%;
}

.token_select:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}

#token_modal .modal-body {
    height: 500px;
    overflow: scroll;
}

.token_row:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: #2D46B9;
    border-color: #000;
    border-width: 2px;
    border-radius: 500px;
    margin-top: 20px;
    height: 50px;
}

.number{
    border-radius: 500px;
}

.token_list_img{
    width: 25px;
    height: 25px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.token_image{
    width: 25px;
    height: 25px;
}

.token-amount {
    padding-right: 10px;
}

.search-imput {
    border-radius: 500px;
    display: block;
    font-size: 16px;
    height: 48px;
    outline: 0px;
    padding: 0px 16px;
    width: 100%;
    border: 2px solid rgb(45, 70, 185);
    margin-bottom: 10px;
}

.slippage {
    margin-top: 20px;
}

.range-container {
    padding-top: 5px;
}

.cash-price {
    margin-right: 20px;
    padding-top: 3px;
}

.toast {
    border-radius: 20px;
    width: 400px;
    max-width: 400px;
}

.toast-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right: 10px;
}

.receipt-status {
    background-color: #F037A5;
}

.receipt-status i {
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 13px;
}

.receipt-body {
    font-size: 14px;
    font-weight: bold;
}

.receipt-link {
    font-weight:bold;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.receipt-link a {
    color:#F037A5;
}

.receipt-link a:hover {
    text-decoration: none;
}

.toast-container button {
    color: #F037A5;
    margin-top: 10px;
    margin-right: 20px;
}

.toast-container h6 {
    margin-top: 15px;
}

.btn-exchange-container {
    display: flex;
    justify-content: center;
}

#btn_exchange {
    padding-left: 4px;
    margin-bottom: 0;
    border-radius: 12px;
    height: 36px;
    width: 36px;
    background-color: rgb(247, 248, 250);
    border: 4px solid rgb(255, 255, 255);
}

#btn_exchange:focus {
    outline: none;
}

.btn-max {
    border-color: #ced4da;
    background-color: #F037A5;
    color: #FFF;

}
.btn-max:hover, .btn-max:focus, .btn-max::selection {
    background-color: #F037A5;
    border-color: #FFF;
    color: #FFF;
}

#wallets_modal .modal-dialog {
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: rgb(14 14 44 / 10%) 0px 20px 36px -8px, rgb(0 0 0 / 5%) 0px 1px 1px;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 32px;
    width: 100%;
    max-height: 100vh;
    z-index: 100;
}

#wallets_modal .modal-header {
    -webkit-box-align: center;
    align-items: center;
    /* background: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%); */
    background: linear-gradient(45deg, #2D46B9, #F037A5);
    /* border-bottom: 1px solid rgb(231, 227, 235); */
    display: flex;
    padding: 16px 24px;
}

#wallets_modal h5 {
    font-size: 18px;
    color: #FFF;
}

#wallets_modal .modal-body {
    padding-top: 50px;
}

#wallets_modal .modal-dialog {
    max-width: 340px;
    min-width: 340px;
    border: none;
}

#wallets_modal .modal-content {
    border: none;
}

#wallets_modal .modal-body .row {
    margin-bottom: 50px;
}

.btn-wallet {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
    width: 100%;
}

.btn-wallet:hover {
    opacity: 0.8;
}

.wallet-text {
    color: rgb(40, 13, 95);
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
}

.svg-viewbox {
    align-self: center;
    fill: rgb(40, 13, 95);
    flex-shrink: 0;
    margin-bottom: 8px;
}

#wallets_modal button:focus {
    outline: 0;
}

#wallets_modal .close {
    margin-top: -30px;
    color: #FFF;
}

#wallets_modal button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
